version: '3'

services:
  postgres:
    image: 'postgres:9.5'
    environment:
      POSTGRES_USER: <%= config[:postgres_user] %>
      POSTGRES_PASSWORD: <%= config[:postgres_pass] %>
    ports:
      - '<%= config[:postgres_port] %>:5432'
    volumes:
      - 'postgres:/var/lib/postgresql/data'

  redis:
    image: 'redis:3.2-alpine'
    command: redis-server
    ports:
      - '<%= config[:redis_port] %>:6379'
    volumes:
      - 'redis:/var/lib/redis/data'

volumes:
  postgres:
  redis:
